<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SVGVG example</title>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <link href="svgvg.css" rel="stylesheet"/>
    </head>

    <body>

    <div id="app" style="width:600px;">
        <select v-model="selectedSeries">
            <option v-for="(option, index) in seriesExamples" v-bind:value="index">
                {{ option.label }}
            </option>
        </select>

        <br>
        <label for="x-axis-label">x-axis label</label>
        <input id="x-axis-label" v-model="xAxisLabel" />

        <br>
        <label for="y-axis-label">y-axis label</label>
        <input id="y-axis-label" v-model="yAxisLabel" />

        <br>
        <label for="x-min-unit">Min x unit</label>
        <input id="x-min-unit" v-model="xMinUnit" type="Number"/>

        <br>
        <label for="y-min-unit">Min y unit</label>
        <input id="y-min-unit" v-model="yMinUnit" type="Number"/>

        <svg-vg
            width="300" height="200"
            :series="series"
            :x-axis-label="xAxisLabel"
            :y-axis-label="yAxisLabel"
            :x-min-unit="xMinUnit"
            :y-min-unit="yMinUnit"
        ></svg-vg>
    </div>

<script src="svgvg.js"></script>

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            seriesExamples:[{
                    label: 'Single array of data',
                    value: [[1, 5, 2, 3, 4]]
            }, {
                    label: 'Just Y data',
                    value: [{ y: [3, 2, 4, 1, 5, 9] }]
            }, {
                    label: 'X and Y data',
                    value: [{ x: [1, 2, 3, 4], y: [1, 4, 8, 16] }]
            }, {
                    label: 'Small decimals',
                    value: [{ y: [0.0003, 0.00035, 0.0004, 0.0001, 0.0005, 0.00033] }]
            }, {
                    label: 'Two series ',
                    value: [[3, 2, 4, 1, 5, 9], [2, 4, 1, 5, 9, 3]]
            }],
            selectedSeries: 0,
            xAxisLabel: '',
            yAxisLabel: '',
            xMinUnit: 0,
            yMinUnit: 0,
        },
        computed: {
            series: function() {
                return this.seriesExamples[this.selectedSeries].value;
            }
        }
    });
</script>

    </body>
</html>