.svgvg-background {
    fill: #eee;
}

.svgvg-series-group {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.8;
}

.svgvg-series-1 {
    stroke: steelblue;
}

.svgvg-series-2 {
    stroke: green;
}

.svgvg-axis {
    stroke: black;
    stroke-width: 1;
    stroke-linecap: square;
}

.svgvg-axis-ticks line {
    stroke: black;
    stroke-width: 0.5;
}

.svgvg {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.svgvg-axis-ticks text {
    font-size: 6px;
}

.svgvg-axis-ticks .x-tick-text {
    text-anchor: middle;
    dominant-baseline: hanging;
}

.svgvg-axis-ticks .y-tick-text {
    text-anchor: end;
    dominant-baseline: central;
}

.svgvg-axis-labels {
    font-size: 10px;
    text-anchor: middle;
}

.svgvg-y-axis-label {
    dominant-baseline: hanging;
}